<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    
	PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"    
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.xiaofo1022.moocshit.mapper.CourseMapper">
    
    <resultMap id="courseMap" type="com.xiaofo1022.moocshit.model.Course">
        <id property="id" column="ID"/>
        <result property="insertDatetime" column="INSERT_DATETIME" javaType="java.util.Date"/>
        <result property="updateDatetime" column="UPDATE_DATETIME" javaType="java.util.Date"/>
        <result property="courseName" column="COURSE_NAME" />
        <result property="coursePlanId" column="COURSE_PLAN_ID" />
        <result property="courseVideoKey" column="COURSE_VIDEO_KEY" />
        <result property="courseRemark" column="COURSE_REMARK" />
        <result property="uploadUserId" column="UPLOAD_USER_ID" />
        <result property="totalScore" column="TOTAL_SCORE" />
        <result property="playTimes" column="PLAY_TIMES" />
        <result property="courseIndex" column="COURSE_INDEX" />
        
        <association property="uploadUser" 
            column="UPLOAD_USER_ID"
            javaType="com.xiaofo1022.moocshit.model.User"
            select="selectUser" />
        
        <collection property="commentList" javaType="ArrayList" column="id" ofType="com.xiaofo1022.moocshit.model.Comment" select="selectComment" />
    </resultMap>
    
    <select id="selectUser" 
        resultMap="com.xiaofo1022.moocshit.mapper.UserMapper.userMap">
        SELECT * FROM USERS WHERE ID = #{id}
    </select>
    
    <select id="selectComment" 
        resultMap="com.xiaofo1022.moocshit.mapper.CommentMapper.commentMap">
        SELECT * FROM COMMENTS WHERE COURSE_ID = #{id}
    </select>
    
</mapper>