<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    
	PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"    
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.xiaofo1022.moocshit.mapper.CourseChosenMapper">
    
    <resultMap id="courseChosenMap" type="com.xiaofo1022.moocshit.model.CourseChosen">
        <id property="id" column="ID"/>
        <result property="insertDatetime" column="INSERT_DATETIME" javaType="java.util.Date"/>
        <result property="updateDatetime" column="UPDATE_DATETIME" javaType="java.util.Date"/>
        <result property="coursePlanId" column="COURSE_PLAN_ID" />
        <result property="studentId" column="STUDENT_ID" />
        <result property="isStart" column="IS_START" />
	</resultMap>
	
</mapper>