<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="author" content="xiaofo">
<title>慕课学</title>
<link href="css/bootstrap.moocshit.css" rel="stylesheet"/>
<link href="css/core.css" rel="stylesheet"/>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<style>
	h6 {
		color:#000;
		background-color:#fff;
		padding:0px;
		padding-bottom:10px;
		margin-bottom:10px;
		border-bottom:1px solid #ccc;
	}
	
	h5 {
		font-size:12px;
		background-color:#F0F3F5;
		color:#ccc;
		padding:10px;
	}
	
	.main-info {
		border-bottom:1px solid #ccc;
		padding-bottom:10px;
	}
	
	.comment-info {
		padding-left:10px;
		padding-bottom:10px;
		font-size:12px;
	}
</style>
</head>
<body>
<nav class="navbar navbar-default" style="margin-bottom:0;">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="index.html" class="navbar-brand" style="padding-top:10px;">
				<span class="glyphicon glyphicon-education"></span>
				慕课学
			</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="index.html">首页</a></li>
				<li><a href="course.html">课程</a></li>
				<li class="active"><a href="#">讨论区</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="background.html">[ 个人中心 ]</a></li>
				<li><a href="#">退出</a></li>
			</ul>
			<form class="navbar-form navbar-right" role="search">
				<div class="input-group">
					<input type="text" class="form-control" style="width:260px;border-radius:1px;" placeholder="输入课程名称，如：大学英语">
					<span class="input-group-btn">
						<button class="btn btn-default" style="border-radius:1px;" type="button">检索</button>
					</span>
				</div>
			</form>
		</div>
	</div>
</nav>

<div class="container">
<div class="row">
	<div class="col-md-8">
		<div class="bbs-block clearfix">
			<h3>谁有第一课的讲义，急！</h3>
			<h6>2015-9-4 9:18 来自：<a href="#">张自力</a></h6>
			<p class="main-info">
				谁有第一课的讲义课件，我的电子版的找不到了，急需最新版下载地址，谁有下载链接？<br/>
				百度网盘，360云盘的都可以！<br/>
				谢啦！
			</p>
			<!-- 
			<p>
				<h5>2015-9-4 12:12 来自：<a href="#">梁志军</a></h5>
				<p class="comment-info">建议去pan1234看看，那里资源比较全。</p>
			</p>
			<p>
				<h5>2015-9-4 14:12 来自：<a href="#">吴志贞</a></h5>
				<p class="comment-info">还是问老师要吧，网上应该不太好找。</p>
			</p>
			<p>
				<h5>2015-9-4 15:12 来自：<a href="#">柳发银</a></h5>
				<p class="comment-info">http://pan.baidu.com/sfgk987</p>
			</p>
			-->
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="panel panel-default" style="margin-top:20px;">
			<div class="panel-heading">
				参与讨论
			</div>
			<div class="panel-body">
				<div class="form-group clearfix">
					<textarea class="form-control fright" rows="4" placeholder="我的回应"></textarea>
				</div>
				<div class="form-group">
					<button class="btn btn-primary fright">提交</button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="footer">
	Copyright © 2015 Neau Computer Department All Rights Reserved
	| 网站首页
	| 高校联盟
	| 关于我们
	| 意见反馈
	| 友情链接
</div>

</body>
</html>